<h1>Comments</h1>
<div class="comments">
	
    <div class="bar topbar">
        <div class="left">
        </div>
        <div class="right">
            <%= link_to 'Add Comment', new_comment_path %>
        </div>
    </div>

    <div class="commentslist">
        <% @comments.each do |comment| %>
        <div class="panel">
            <div class="head">
                <div class="bar">
                    <div class="left">
                        <div>
                            Post By: Guest
                        </div>
                        <!--<%= comment.user_id %><%= comment.parent_id %>-->
                    </div>
                    <div class="right">
                        <!--<%= comment.created_at %>
                        <%= comment.updated_at %>-->
                        <%= time_ago_in_words( comment.created_at ) %> ago
                    </div>
                </div>
            </div>
            <div class="body">
                <%= image_tag "Icon-highlighted-avatar.png", :align=>"right" %>
                <%= comment.content %>
            </div>
            <div class="foot">
                <!--<%= link_to 'Show', comment %>-->
                <%= link_to 'Edit', edit_comment_path(comment) %>| <%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %>
            </div>
        </div>
        <% end %>
    </div>
</div>
